.toDoOptions
    height: 30px
    margin-top: -26px
    position: absolute
    right: 12px
    z-index: auto

    .toDoOptions__box, .toDoOptions__box--addresses
        background-color: var(--backgroundOptions)
        border-radius: 5px
        position: absolute
        visibility: hidden
        z-index: 2

    .toDoOptions__box
        height: 66px
        padding: 5px 0 5px 0
        width: 110px
        left: -60px

        button, span
            background-color: transparent
            border: none
            color: var(--font)
            cursor: pointer
            display: block
            font-size: 1.2rem
            outline: none
            padding-left: 8px
            text-align: left
            width: 100%

        button
            z-index: 1

        span
            z-index: 2

            &:hover
                background-color: var(--hoverOptions)
                color: white

        span:hover + .toDoOptions__box--addresses
            visibility: visible

    .toDoOptions__box--addresses
        left: -110px
        padding: 3px 0 3px 0
        top: 33px
        width: 110px

        &:hover
            visibility: visible

.visible
    visibility: visible

@media only screen and (min-width: 500px)  and (orientation: portrait)

    .toDoOptions
        right: 20px

        .toDoOptions__box
            left: 0px

        .toDoOptions__box--addresses
            left: 110px
