
.toDoAdd__input

    width: 100%
    height: 46px
    padding-left: 38px
    background-color: #151D27
    border: none
    border-radius: 6px
    outline: none
    color: white
    margin-bottom: 20px

.toDoAdd__input::placeholder
    color: #6E9CB9
