.toDoOpciones
    // position: absolute
    position: absolute
    right: 0px
    list-style: none

    .toDoOpciones__li--direcciones
        // position: relative

        span
            color: white

        button
            display: none
            color: white

    .toDoOpciones__li--direcciones:hover
        span
            color: green
        button
            display: flex
            color: red
            position: absolute
            left: 40px
            width: 100%
            margin: 20px
            box-sizing: border-box

    .toDoOpciones__li--eliminar
        button
            background: transparent
            color: white
            border: none
            outline: none
