
.ToDoRoutes
    height: 100vh
    width: 100vw
    background-color: var(--backgroundCard)
    display: flex
    flex-direction: column
    align-items: center

@media only screen and (min-width: 560px)

    .body
        align-items: center
        background-color: var(--background)
        color: var(--font)
        display: flex
        height: 100vh
        justify-content: center
        overflow: hidden

    .ToDoRoutes
        border-radius: 6px
        height: 700px
        width: 620px
        position: relative
