body
    align-items: center
    background-color: #6D9AB3
    color: white
    display: flex
    height: 100vh
    justify-content: center
    overflow: hidden

.ToDoRoutes
    align-items: center
    background-color: #213140
    border-radius: 6px
    display: flex
    flex-direction: column
    height: 700px
    position: relative
    width: 620px
